<% title "Team Compare" %>

	<div id = 'table_place'>
		<%= render :partial => 'table'  %> 
	</div>

	<br/>
	<br/>
	
	<%= form_tag change_career_table_team_path(:franchises => @franchises), :remote => true, :id => "change_table" do %>
		<%= check_box_tag 'stat[]', 'wins', true %>W
		<%= check_box_tag 'stat[]', 'losses', true %>L
		<%= check_box_tag 'stat[]', 'plate_appearances', false %>PA
		<%= check_box_tag 'stat[]', 'at_bats', false %>AB
		<%= check_box_tag 'stat[]', 'runs', true %>R
		<%= check_box_tag 'stat[]', 'hits',  false %>H
		<%= check_box_tag 'stat[]', 'doubles', false %>2B
		<%= check_box_tag 'stat[]', 'triples', false %>3B
		<%= check_box_tag 'stat[]', 'home_runs', false %>HR
		<%= check_box_tag 'stat[]', 'total_bases', false %>TB
		<%= check_box_tag 'stat[]', 'extra_base_hits', false %>XBH
		<%= check_box_tag 'stat[]', 'stolen_bases', false %>SB
		<%= check_box_tag 'stat[]', 'caught_stealing', false %>CS
		<%= check_box_tag 'stat[]', 'walks', false %>BB
		<%= check_box_tag 'stat[]', 'strikeouts', false %>K
		<%= check_box_tag 'stat[]', 'runs_allowed', true %>RA
		<%= check_box_tag 'stat[]', 'earned_runs', false %>ER
		<%= check_box_tag 'stat[]', 'complete_games', false %>CG
		<%= check_box_tag 'stat[]', 'shutouts', false %>SO
		<%= check_box_tag 'stat[]', 'saves', false %>SV
		<%= check_box_tag 'stat[]', 'hits_allowed', false %>HA
		<%= check_box_tag 'stat[]', 'home_runs_allowed', false %>HRA
		<%= check_box_tag 'stat[]', 'walks_allowed', false %>BBA
		<%= check_box_tag 'stat[]', 'strikeouts_allowed', false %>KA
		<%= check_box_tag 'stat[]', 'errors_made', true %>E
		<%= submit_tag 'Update' %>
	<% end %>
	
	<br/>
	<br/>
	
	<%= form_tag change_career_chart_team_path(:franchises => @franchises), :id => "change_chart", :remote => true do %>
		<%= select_tag "chart_type", 
		raw("<option>Wins</option>
		<option>Losses</option>
		<option>Plate Appearances</option>
		<option>At Bats</option>
		<option>Runs</option>
		<option>Hits</option>
		<option>Doubles</option>
		<option>Triples</option>
		<option>Home Runs</option>
		<option>Total Bases</option>
		<option>Extra Base Hits</option>
		<option>Stolen Bases</option>
		<option>Caught Stealing</option>
		<option>Walks</option>
		<option>Strikeouts</option>
		<option>Runs Allowed</option>
		<option>Earned Runs</option>
		<option>Complete Games</option>
		<option>Shutouts</option>
		<option>Saves</option>
		<option>Hits Allowed</option>
		<option>Home Runs Allowed</option>
		<option>Walks Allowed</option>
		<option>Strikeouts Allowed</option>
		<option>Errors Made</option>")
		%>
		<%= submit_tag 'Update' %>
	<% end %>

	<br/>
	<br/>
	
	<div id = 'chart_place'>
		<%= render :partial => 'chart'  %> 
	</div>
	
	
