<% title "Batting Compare" %>
<table>
  <tr>
  <th>Team</th>
  <th>Year</th>
  <th>Franchise</th>
  <th>League</th>
  <th>Division</th>
  <th>W</th>
  <th>L</th>
  <th>PA</th>
  <th>AB</th>
  <th>R</th>
  <th>H</th>
  <th>2B</th>
  <th>3B</th>
  <th>HR</th>
  <th>TB</th>
  <th>XBH</th>
  <th>SB</th>
  <th>CS</th>
  <th>BB</th>
  <th>K</th>
  <th>RA</th>
  <th>ER</th>
  <th>CG</th>
  <th>SO</th>
  <th>SV</th>
  <th>HA</th>
  <th>HRA</th>
  <th>BBA</th>
  <th>KA</th>
  <th>E</th>
  </tr>
  <% for team in @teams %>
    <tr>
	<td><%= team[0].name %></td>
	<td><%= team[0].year %></td>
	<td><%= team[0].franchise.name %></td>
	<td><%= team[0].division.league.name %></td>
	<td><%= team[0].division.name %></td>
	<td><%= team[0].wins %></td>
	<td><%= team[0].losses %></td>
	<td><%= team[0].plate_appearances %></td>
	<td><%= team[0].at_bats %></td>
	<td><%= team[0].runs%></td>
	<td><%= team[0].hits %></td>
	<td><%= team[0].doubles %></td>
	<td><%= team[0].triples %></td>
	<td><%= team[0].home_runs %></td>
	<td><%= team[0].total_bases %></td>
	<td><%= team[0].extra_base_hits %></td>
	<td><%= team[0].stolen_bases %></td>
	<td><%= team[0].caught_stealing %></td>
	<td><%= team[0].walks %></td>
	<td><%= team[0].strikeouts %></td>
	<td><%= team[0].runs_allowed %></td>
	<td><%= team[0].earned_runs %></td>
	<td><%= team[0].complete_games %></td>
	<td><%= team[0].shutouts %></td>
	<td><%= team[0].saves %></td>
	<td><%= team[0].hits_allowed %></td>
	<td><%= team[0].home_runs_allowed %></td>
	<td><%= team[0].walks_allowed %></td>
	<td><%= team[0].strikeouts_allowed %></td>
	<td><%= team[0].errors_made %></td>
    </tr>
<% end %>
</table>
