<% title @team.name%>
<p>
  <strong>Franchise:</strong>
  <%= Franchise.find(@team.franchise_id).name %>
</p>
 <% if !Division.find(@team.division_id).name.nil? %>
<p>
  <strong>Division:</strong>
  <%= Division.find(@team.division_id).name %>
</p>
<% end %>
<p>
  <strong>League:</strong>
  <%= League.find(Division.find(@team.division_id).league_id).name %>
</p>
<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>
<p>
  <strong>Baseball Era:</strong>
  <%= @team.baseball_era %>
</p>
<p>
  <strong>Park:</strong>
  <%= @team.park %>
</p>
<%  if !@team.attendance.nil?%>
<p>
  <strong>Attendance:</strong>
  <%= @team.attendance %>
  <% end %>
</p>
<br></br>
<strong>Team Stats</strong>
<div id = 'chart'></div>
<%= raw @chart.render('chart') %>
<strong>Team Batting Stats</strong>
<div id='chart2'></div>
<%= raw @chart2.render('chart2') %>
<strong>Team Pitching and Fielding Stats</strong>
<div id='chart3'></div>
<%= raw @chart3.render('chart3') %>