<% title "Pitching Compare" %>
<table>
  <tr>
  <th>Name</th>
  <th>Year</th>
  <th>Age</th>
  <th>Team</th>
  <th>League</th>
  <th>W</th>
  <th>L</th>
  <th>WL%</th>
  <th>ERA</th>
  <th>G</th>
  <th>GS</th>
  <th>GF</th>
  <th>CG</th>
  <th>SHO</th>
  <th>SV</th>
  <th>IP</th>
  <th>H</th>
  <th>R</th>
  <th>ER</th>
  <th>HR</th>
  <th>BB</th>
  <th>IBB</th>
  <th>K</th>
  <th>HBP</th>
  <th>BK</th>
  <th>WP</th>
  <th>BF</th>
  <th>WHIP</th>
  <th>H/9</th>
  <th>HR/9</th>
  <th>BB/9</th>
  <th>K/9</th>
  <th>K/BB</th>
  </tr>
  <% for pitcher in @pitchers %>
    <tr>
	<td><%= pitcher[0].player.name %></td>
	<td><%= pitcher[0].team.year %></td>
	<td><%= pitcher[0].player.age(pitcher[0].team.year) %></td>
	<td><%= pitcher[0].team.name %></td>
	<td><%= pitcher[0].team.division.league.name %></td>
	<td><%= pitcher[0].wins %></td>
	<td><%= pitcher[0].losses %></td>
	<td><%= pitcher[0].win_loss_percentage %></td>
	<td><%= pitcher[0].era %></td>
	<td><%= pitcher[0].games %></td>
	<td><%= pitcher[0].games_started %></td>
	<td><%= pitcher[0].games_finished %></td>
	<td><%= pitcher[0].complete_games %></td>
	<td><%= pitcher[0].shutouts %></td>
	<td><%= pitcher[0].saves %></td>
	<td><%= pitcher[0].innings_pitched %></td>
	<td><%= pitcher[0].hits %></td>
	<td><%= pitcher[0].runs %></td>
	<td><%= pitcher[0].earned_runs %></td>
	<td><%= pitcher[0].home_runs %></td>
	<td><%= pitcher[0].walks %></td>
	<td><%= pitcher[0].intentional_walks	%></td>
	<td><%= pitcher[0].strikeouts	%></td>
	<td><%= pitcher[0].hit_by_pitch	%></td>
	<td><%= pitcher[0].balks	%></td>
	<td><%= pitcher[0].wild_pitches	%></td>
	<td><%= pitcher[0].batters_faced	%></td>
	<td><%= pitcher[0].walks_and_hits_innings_pitched	%></td>
	<td><%= pitcher[0].hits_innings	%></td>
	<td><%= pitcher[0].home_runs_innings	%></td>
	<td><%= pitcher[0].walks_innings	%></td>
	<td><%= pitcher[0].strikeouts_innings	%></td>
	<td><%= pitcher[0].strikeouts_walks	%></td>
    </tr>
  <% end %>
</table>