<%= form_tag years_path(:comp => @comp), :remote => true do %>
		<table>
			<tr><td><%= text_field_tag 'nickname', '', :autocomplete => home_autocomplete_player_nickname_path %></td>
			<tr><td><div id = 'text2'><%= text_field_tag 'players[]' %></div></td></tr>
			<tr><td><div id = 'text3'><%= text_field_tag 'players[]' %></div></td></tr>
			<tr><td><div id = 'text4'><%= text_field_tag 'players[]' %></div></td></tr>
			<tr><td><div id = 'text5'><%= text_field_tag 'players[]' %></div></td></tr>
		</table>
		<br/>
		<br/>
		Season<%= radio_button_tag 'type', 'season' %>
		<br/>
		Career<%= radio_button_tag 'type', 'career' %>
		<br/>
		Multi-Year<%= radio_button_tag 'type', 'multi' %>
		<br/>
		<br/>
		<%= submit_tag 'Compare' %>
	<% end %>
		
