<h1>Contact StatTracker</h1>

<h3 ><b> &#10147; <%= mail_to("team3@andrew.cmu.edu","Give us your feedback", :encode => "javascript") %> </b></h3>

<h3><b>	 &#10147; <%= mail_to("team3@andrew.cmu.edu","Report a bug", :encode => "javascript") %> </b></h3>

<h3><b>	 &#10147; We are members of Team #3 from IS project. If you want to know more aobut
        our members, here is the contact information: </b></h3>

                    <table cellspacing="20">
                            <tr>
                                    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                                    <td><%= mail_to("czhao1@andrew.cmu.edu","Christine Zhao", :encode => "javascript") %></td>
                            </tr>
                    </table>
                    </br>
                    <table cellspacing="20">
                            <tr>
                                    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                                    <td><%= mail_to("wkerry@andrew.cmu.edu","Won Ku Kim", :encode => "javascript") %></td>
                            </tr>
                    </table>
                    </br>
                    <table cellspacing="20">
                            <tr>
                                    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                                    <td><%= mail_to("peijut@andrew.cmu.edu","Amy Tsai", :encode => "javascript") %></td>
                            </tr>
                    </table>
                    </br>
                    <table cellspacing="20">
                            <tr>
                                    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                                    <td><%= mail_to("sskung@andrew.cmu.edu","Sean Kung", :encode => "javascript") %></td>
                            </tr>
                    </table>
                    </br>
                    <table cellspacing="20">
                            <tr>
                                    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                                    <td><%= mail_to("clebowit@andrew.cmu.edu","Chris Lebowitz", :encode => "javascript") %></td>
                            </tr>
                    </table>
                    </br>
                    <table cellspacing="20">
                            <tr>
                                    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
                                    <td><%= mail_to("acanigli@andrew.cmu.edu","Andrew Caniglia", :encode => "javascript") %></td>
                            </tr>
                    </table>