
<h1> Fielding Leaderboards </h1>
        
<%= form_tag (fielding_leaders_path) do %>
		<%= select_tag "stat", 
		raw("<option>Games</option>
		<option>Games Started</option>
		<option>Innings Out</option>
		<option>Chances</option>
		<option>Put Outs</option>
		<option>Assists</option>
		<option>Errors Made</option>
		<option>Double Plays</option>
		<option>Passed Balls</option>
		<option>Wild Pitches</option>
		<option>Stolen Bases</option>
		<option>Caught Stealing</option>
		<option>Zone Rating</option>
		<option>Innings</option>
		<option>Fielding Percentage</option>
		<option>Range Factor Innings</option>
		<option>Range Factor Game</option>")
		%>
		<%= radio_button_tag 'type', 'season' , true%>Season
		<%= radio_button_tag 'type', 'career' %>Career
		<%= radio_button_tag 'type', 'active' %>Active
		<%= check_box_tag 'post', 'post', false %>Postseason
		<%= submit_tag 'Submit' %>
	<% end %>
	