<h2>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h2>
<p class="supertiny">&nbsp;</p>

<% unless @players.empty? %>
	<p><em><strong>Players matching term '<%= @query %>'</strong></em></p>
	<ul>
            <table class="datagrid">
              <thead class="datagrid">
                  <th width="250">Name</th>
                  <th>Birth Year</th>
              </thead>
              <% for player in @players do %>

              <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
                  <td align ="center"><%= link_to player.name, player_path(player) %></td>
                  <td align ="center"><%= player.birth_year %></td>
              </tr>
            <% end %>
            </table>
	</ul>
	<p class="smtext">&nbsp;</p>
<% end %>

