<% title "Players" %>
    <tr>
      <th> Search by Name </th>
            <%= form_tag(search_path) do %>
                    <%= text_field_tag('query') %>
                    <%= submit_tag('Search') %>
            <% end %>
    </tr>
    </br>
    </br>
     <tr>
      <th> Players by Last Name </th>

          <%= form_tag (players_path) do %>
                          <%= select_tag "player.last_name",
                          raw("<option>A</option>
                          <option>B</option>
                          <option>C</option>
                          <option>D</option>")
		%>
          <%= submit_tag 'Submit' %>
          <% end %>
    </tr>
*/