<% if !@player.nickname.nil? %>
<h1><%=@player.first_name+" \""+@player.nickname+"\" "+@player.last_name%></h1>
<% end %>
<% if @player.nickname.nil? %>
<h1><%=@player.name%></h1>
<% end %>
<div class="player">
</div>

<div id="text">
<%if @birthPlace.nil? %>
<p>
  <strong>Place of Birth:</strong>
  <%= @player.birthPlace %>
</p>
<% end %>
<p>
  <strong>Birthday:</strong>
  <%= @player.birth_month.to_s+"\/"+@player.birth_day.to_s+"\/"+@player.birth_year.to_s %>
</p>
<% if !@player.death_year.nil? %>
<p>
  <strong>Deathday:</strong>
  <%=@player.death_month.to_s+"\/"+@player.death_day.to_s+"\/"+@player.death_year.to_s %>
</p>
<% end %>
<p>
 <strong>Height:</strong>
  <%= @player.heightFeet %>
</p>
<p>
  <strong>Weight:</strong>
  <%= @player.weight.to_s+" lbs" %>
</p>
<p>
  <strong>Bats:</strong>
  <%= @player.bats %>
</p>
<%if !@player.throws.nil?%>
<p>
  <strong>Throws:</strong>
  <%= @player.throws %>
</p>
<% end %>
<% if !@player.debut.nil?%>
<p>
  <strong>Debut:</strong>
  <%= @player.debut.strftime("%m/%d/%Y") %>
</p>
<%end%>
<% if !@player.final_game.nil?%>
<p>
  <strong>Final Game:</strong>
  <%= @player.final_game.strftime("%m/%d/%Y") %>
</p>
<%end%>
<% if !@player.college.nil?%>
<p>
  <strong>College:</strong>
  <%= @player.college %>
</p>
<% end %>
<% if @player.hof %>
<p>
  <strong>Hall of Famer: </strong>&#10003
</p>
<% end %>
</div>
<% if !@batting_stats.empty? %>
<strong>Regular Season Batting Stats</strong>
<div id='chart'></div>
<%= raw @chart.render('chart') %>
<% end %>
<%# if !@batting_stats_post.empty? %>
<%#*<strong>Post Season Batting Stats</strong>%>
<%#*<div id='chart2'></div>%>
<%#= raw @chart2.render('chart2') %>
<%# end %>
<%# if !@fielding_stats.empty? %>
<%#*<strong>Regular Season Fielding Stats</strong>%>
<%#*<div id='chart3'></div>%>
<%# end %>
<%#= raw @chart3.render('chart3') %>
<%# if !@fielding_stats_post.empty? %>
<%#*<strong>Post Season Fielding Stats</strong>%>
<%#*<div id='chart4'></div>%>
<%#= raw @chart4.render('chart4') %>
<%# end %>
<%# if !@pitching_stats.empty? %>
<%#*<strong>Regular Season Pitching Stats</strong>%>
<%#*<div id='chart5'></div>%>
<%#= raw @chart5.render('chart5') %>
<%# end %>
<%# if !@pitching_stats_post.empty? %>
<%#*<strong>Post Season Pitching Stats</strong>%>
<%#*<div id='chart6'></div>%>
<%#= raw @chart6.render('chart6') %>
<%# end %>
<p>
  <%= link_to "Edit", edit_player_path(@player) %> |
  <%= link_to "Destroy", @player, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", players_path %>
</p>