<% if !@player.nickname.nil? %>
<h1><%=@player.first_name+" \""+@player.nickname+"\" "+@player.last_name%></h1>
<% end %>
<% if @player.nickname.nil? %>
<h1><%=@player.name%></h1>
<% end %>
<%= image_tag(@google_image.original,:style => 'padding:3px; border:solid 1px #EEE; margin:2px; width:200px; height:auto; float:right') %>
<div class="player">
</div>
<div id="text">
<%if @birthPlace.nil? %>
<ul>
  <strong>Place of Birth:</strong>
  <%= @player.birthPlace %>
</ul>
<% end %>
<% if @birth_day.nil?%>
<ul>
  <strong>Birthday:</strong>
  <%= @player.birth_month.to_s+"\/"+@player.birth_year.to_s %>
</ul>
<% else%>
<ul>
  <strong>Birthday:</strong>
  <%= @player.birth_month.to_s+"\/"+@player.birth_day.to_s+"\/"+@player.birth_year.to_s %>
</ul>
<% end %>
<% if !@player.death_year.nil? %>
<ul>
  <strong>Deathday:</strong>
  <%=@player.death_month.to_s+"\/"+@player.death_day.to_s+"\/"+@player.death_year.to_s %>
</ul>
<% end %>
<%if !@player.height.nil?%>
<ul>
 <strong>Height:</strong>
  <%= @player.heightFeet %>
</ul>
<% end %>
<%if !@player.weight.nil?%>
<ul>
  <strong>Weight:</strong>
  <%= @player.weight.to_s+" lbs" %>
</ul>
<% end %>
<%if !@player.throws.nil?%>
<ul>
  <strong>Bats:</strong>
  <%= @player.bats %>
</ul>
<% end %>
<%if !@player.throws.nil?%>
<ul>
  <strong>Throws:</strong>
  <%= @player.throws %>
</ul>
<% end %>
<% if !@player.debut.nil?%>
<ul>
  <strong>Debut:</strong>
  <%= @player.debut.strftime("%m/%d/%Y") %>
</ul>
<%end%>
<% if !@player.final_game.nil?%>
<ul>
  <strong>Final Game:</strong>
  <%= @player.final_game.strftime("%m/%d/%Y") %>
</ul>
<%end%>
<% if !@player.college.nil?%>
<ul>
  <strong>College:</strong>
  <%= @player.college %>
</ul>
<% end %>
<% if @player.hof %>
<ul>
  <strong>Hall of Famer: </strong>&#10003
</ul>
<% end %>
</div>
<% if !@batting_stats.empty? %>
<strong>Regular Season Batting Stats</strong><span title="Hover over numbers for full name of stat and click on the side tab to learn more"<%= image_tag("question.gif")%></span>
<br>
<br>
<div id='chart'></div>
<%= raw @chart.render('chart') %>
<% end %>
<br>
<% if !@batting_stats_post.empty? %>
<strong>Post Season Batting Stats</strong><span title="Hover over numbers for full name of stat and click on the side tab to learn more"<%= image_tag("question.gif")%></span>
<br>
<br>
<div id='chart2'></div>
<%= raw @chart2.render('chart2') %>
<% end %>
<br>

<% if !@pitching_stats.empty? %>
<strong>Regular Season Pitching Stats</strong><span title="Hover over numbers for full name of stat and click on the side tab to learn more"<%= image_tag("question.gif")%></span>
<br>
<br>
<div id='chart3'></div>
<%= raw @chart3.render('chart3') %>
<% end %>
<br>
<% if !@pitching_stats_post.empty? %>
<strong>Post Season Pitching Stats</strong><span title="Hover over numbers for full name of stat and click on the side tab to learn more"<%= image_tag("question.gif")%></span>
<br>
<br>
<div id='chart4'></div>
<%= raw @chart4.render('chart4') %>
<% end %>
<script>
$("#chart").simpletip();
</script>
