<% title "Batting Compare" %>


	<div id = 'table_place'>
		<%= render :partial => 'table'  %> 
	</div>
	

	<br/>
	<br/>
	
	<%= select("chart_type", "chart", raw("<option>Home Runs</option><option>RBI</option>"), options={:prompt=> 'Choose a Statistic...'}) %>
	
	
	<br/>
	<br/>
	<div id = 'chart_place'>
		<%= render :partial => 'chart'  %> 
	</div>
	
	
	<br/>
	<br/>
	
	
	<%= check_box_tag 'stats', 'HR', true %>HR
	<%= check_box_tag 'stats', 'RBI', true %>RBI
	<%= check_box_tag 'stats', 'R', true %>R
	
	<%= link_to "Update", change_table_path(:players => @players, :stats => stats), :remote => true %>