<% title "Batting Stats" %>

<table>
  <tr>
    <th>Player</th>
	<th>Bats</th>
	<th>Team</th>
	<th>Year</th>
	<th>
	<% if params[:stat] == "rbi" %>
	RBI
	<% else %>
	<%= params[:stat].titleize%>
	<% end %>
	</th>
  </tr>
  
  <% for batting_stat in @batting_stats %>
    <tr>
      <td><%= batting_stat.player.name %></td>
	  <td><%= batting_stat.player.bats %></td>
	  <td><%= batting_stat.team.name %></td>
	  <td><%= batting_stat.team.year %></td>
	  <td> <%= batting_stat.send(params[:stat])%></td>
    </tr>
  <% end %>
  
</table>
