<!DOCTYPE html>
<html>
  <head>
    <title>StatTracker</title>
    <%= stylesheet_link_tag "application"%>
	 <%= stylesheet_link_tag "jquery-ui-1.8.11.custom.css "%>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<%= javascript_include_tag "http://www.google.com/jsapi" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery-ui-1.8.11.custom.min.js', 'autocomplete-rails.js', 'rails.js' %>
	<script>
	$(document).ready(function(){
		$('li.dropdownmenu').hover(
			function() { $('ul', this).css('display', 'block'); },
			function() { $('ul', this).css('display', 'none'); });
	});
	</script>
  </head>
  
  <body>

  <div id="sign">
<% if user_signed_in? %>  
	Signed in as <%= current_user.email %>. Not you?  
	<%= link_to "Sign out", destroy_user_session_path %>  
	<%= link_to "Your Profile", :controller => "users", :action => "show" %>
<% else %>  
	<%= link_to "Sign up", new_user_registration_path %> or  
	<%= link_to "Sign in", new_user_session_path %>  
<% end %>
</div>

    <div id="hd"></div>

  <div id="nav">
      	<ul >
          	<!-- OPTIONS FOR EVERYONE -->
		
			<li><%= link_to 'Home', '/home/index' %></li>
			<li class= "dropdownmenu"><%= link_to 'Players'%>
			<ul id="cssdropdown">
				<%= form_tag(search_path) do %>
                <%= text_field_tag('query') %>
                <%= submit_tag('Search') %>
            <% end %></ul></li>
			<li><%= link_to 'Teams', franchises_path %></li>  
			<li class="dropdownmenu"><%= link_to 'Leaders'%>
				<ul id="cssdropdown" style="width:320px">
					<li><%= link_to 'Batting Leaderboards', '/home/batting_leaderboards' %></li>
					<li><a href="">Pitching Leaderboards</a></li>
					<li><a href="">Fielding Leaderboards</a></li>
				</ul>
			</li> 
			<li><%= link_to 'Season Finders', '/seasonfinder/batting' %> </li>
</ul>
</div> 

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
	
  </body>
</html>
