<!DOCTYPE html>
<html>
  <head>
    <title>StatTracker :: <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
	<link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon" />
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id="sign">
<% if user_signed_in? %>  
 Signed in as <%= current_user.email %>. Not you?  
<%= link_to "Sign out", destroy_user_session_path %>  
<%= link_to "Your Profile", :controller => "users", :action => "show" %>
<% else %>  
<%= link_to "Sign up", new_user_registration_path %> or  
<%= link_to "Sign in", new_user_session_path %>  
<% end %>
</div>
  <div id="nav">
      	<ul>
          	<!-- OPTIONS FOR EVERYONE -->
		
			<li><%= link_to 'Players', '/players/1' %></li>
			<li><%= link_to 'Teams', '/teams/1' %></li>
			<li><%= link_to 'Leagues', leagues_path %></li>  
			<li><%= link_to 'Season Finder' %></li> 
			<li><%= link_to 'Single Season Home Run Leaders', '/leaders/season/batting/home_runs' %> </li> 
			<li><%= link_to 'Career Home Run Leaders', '/leaders/career/batting/home_runs' %> </li> 
			<li><%= link_to 'Active Home Run Leaders', '/leaders/active/batting/home_runs' %> </li> 
</ul>
</div> 

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
	
  </body>
</html>
